@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe-Light.eot");
  src: url("../fonts/Circe-Light.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Circe-Light.woff") format("woff");
  src: url("../fonts/Circe-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe-Regular.eot");
  src: url("../fonts/Circe-Regular.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Circe-Regular.woff") format("woff");
  src: url("../fonts/Circe-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe-Bold.eot");
  src: url("../fonts/Circe-Bold.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Circe-Bold.woff") format("woff");
  src: url("../fonts/Circe-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/*
 * ========================
 * BASE
 * ========================
 */
html,
body {
  height: 100%;
}

body {
  font: 400 16px/1 "Circe", sans-serif;
  color: #4d4d4d;
  background-color: #ffffff;
  overflow-x: hidden;
  min-width: 320px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

p {
  margin: 0;
  line-height: 24px;
}

a {
  text-decoration: none;
  color: inherit;
}

.link {
  position: relative;
  display: inline-block;
  padding-bottom: 2px;
  overflow: hidden;
  color: #69afd4;
}

.link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #69afd4;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.link:hover::after {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

a:focus,
button:focus,
img:focus {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

.input {
  display: inline-block;
  width: 100%;
  height: 25px;
  border: none;
  border-bottom: 1px solid #e8f0f8;
  font: 400 12px/1 "Circe", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.input:focus {
  border-bottom-color: #ffffff;
}

.input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.input + .input {
  margin-top: 25px;
}

.textarea {
  width: 100%;
  height: 200px;
  padding: 20px;
  border: 1px solid transparent;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.textarea:focus {
  border-bottom-color: #69afd4;
}

.textarea::-webkit-input-placeholder {
  color: #BDBDBD;
}

.textarea:-moz-placeholder {
  color: #BDBDBD;
}

.textarea::-moz-placeholder {
  color: #BDBDBD;
}

.textarea:-ms-input-placeholder {
  color: #BDBDBD;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

input[type="text"]:focus::-webkit-input-placeholder {
  color: transparent;
}

input[type="text"]:focus::-moz-placeholder {
  color: transparent;
}

input[type="text"]:focus:-moz-placeholder {
  color: transparent;
}

input[type="text"]:focus:-ms-input-placeholder {
  color: transparent;
}

input[type="email"]:focus::-webkit-input-placeholder {
  color: transparent;
}

input[type="email"]:focus::-moz-placeholder {
  color: transparent;
}

input[type="email"]:focus:-moz-placeholder {
  color: transparent;
}

input[type="email"]:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus::-moz-placeholder {
  color: transparent;
}

textarea:focus:-moz-placeholder {
  color: transparent;
}

textarea:focus:-ms-input-placeholder {
  color: transparent;
}

.scroll-hidden {
  overflow: hidden;
  padding-right: 17px;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:before {
  display: inline-block;
  content: "\2713";
  height: 14px;
  width: 14px;
  border: 1px solid #E0E0E0;
  margin: -5px 5px 0 0;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  vertical-align: middle;
  color: transparent;
  -webkit-transition: color ease .3s;
  -o-transition: color ease .3s;
  transition: color ease .3s;
}

input[type=checkbox]:checked + label:before {
  color: #69afd4;
}

/*
 * ========================
 * GRID
 * ========================
 */
.grid {
  max-width: 1200px;
  min-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

@media (max-width: 1200px) {
  .grid {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .grid {
    max-width: 720px;
  }
}

@media (max-width: 768px) {
  .grid {
    max-width: 100%;
  }
}

/*
 * ========================
 * BUTTONS
 * ========================
 */
.btn {
  position: relative;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 45px;
  border: none;
  padding: 0 27px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #69afd4;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.btn:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: #69afd4;
}

/*
 * ========================
 * HEADLINE
 * ========================
 */
.headline {
  text-align: center;
}

.headline__title {
  display: inline-block;
  padding-bottom: 10px;
  border-bottom: 3px solid #69afd4;
  margin-bottom: 25px;
  font: 700 39px/1 "Circe", sans-serif;
  text-transform: uppercase;
  color: #1a1a1a;
}

.headline__descr {
  max-width: 544px;
  margin: 0 auto;
  line-height: 26px;
  color: #666666;
}

@media (max-width: 768px) {
  .headline__title {
    padding-bottom: 6px;
    margin-bottom: 18px;
    font-size: 24px;
  }
}

/*
 * ========================
 * HEADER
 * ========================
 */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 12px 0;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #313c4d;
}

.header.fixed {
  background-color: #ffffff;
}

.header.fixed .header__logo {
  width: 120px;
  margin-top: 25px !important;
}

.header__switch, .header__logo-mobile {
  display: none;
}

.header__inner {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.header__inner::after {
  content: '';
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  height: 0;
}

.header__phone, .header__email {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__phone a, .header__email a {
  display: inline-block;
  margin-left: 10px;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.header__phone a:hover, .header__email a:hover {
  color: #ffffff;
}

.header__email {
  margin: 0 30px;
}

.header__social a {
  display: inline-block;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.header__social a:hover {
  -webkit-filter: grayscale(0.8);
  filter: grayscale(0.8);
}

.header__social a:not(:last-child) {
  margin-right: 15px;
}

.header__btn {
  margin-left: auto;
  font-size: 14px;
  -webkit-box-shadow: 0 0 8px rgba(105, 175, 212, 0.35);
  box-shadow: 0 0 8px rgba(105, 175, 212, 0.35);
}

.header__logo, .header__nav {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.header__logo {
  margin-top: 48px;
  margin-right: auto;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.header__nav {
  margin-top: 36px;
}

.header__nav-link {
  font-size: 14px;
  text-transform: uppercase;
  color: #313c4d;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.header__nav-link:not(:last-child) {
  margin-right: 60px;
}

.header__nav-link:hover {
  color: #69afd4;
}

@media (max-width: 992px) {
  .header .grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .header__switch, .header__logo-mobile {
    z-index: 1;
    display: block;
  }

  .header__inner {
    position: fixed;
    top: 70px;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    background-color: #ffffff;
    -webkit-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    opacity: 0;
    visibility: hidden;
  }

  .header__inner--open {
    opacity: 1;
    visibility: visible;
  }

  .header__inner::after {
    display: none;
  }

  .header__logo {
    display: none;
  }

  .header__phone img, .header__email img {
    -webkit-filter: invert(0.8);
    filter: invert(0.8);
  }

  .header__phone a, .header__email a {
    color: #4d4d4d;
  }

  .header__phone {
    margin-bottom: 15px;
  }

  .header__social {
    margin: 35px 0;
  }

  .header__btn {
    margin-left: 0;
  }

  .header__nav {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    margin-bottom: 50px;
  }

  .header__switch {
    position: relative;
    display: block;
    width: 30px;
    height: 20px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    cursor: pointer;
    z-index: 11;
  }

  .header__switch span {
    position: absolute;
    top: calc(50% - 2px);
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #ffffff;
  }

  .header__switch span::before, .header__switch span::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    -webkit-transition-duration: 0.3s, 0.3s;
    -o-transition-duration: 0.3s, 0.3s;
    transition-duration: 0.3s, 0.3s;
  }

  .header__switch span::before {
    top: -8px;
    -webkit-transition-property: top, -webkit-transform;
    transition-property: top, -webkit-transform;
    -o-transition-property: top, transform;
    transition-property: top, transform;
    transition-property: top, transform, -webkit-transform;
  }

  .header__switch span::after {
    bottom: -8px;
    -webkit-transition-property: bottom, -webkit-transform;
    transition-property: bottom, -webkit-transform;
    -o-transition-property: bottom, transform;
    transition-property: bottom, transform;
    transition-property: bottom, transform, -webkit-transform;
  }

  .header__switch--open span {
    background: none;
  }

  .header__switch--open span::before, .header__switch--open span::after {
    -webkit-transition-delay: 0s, 0.3s;
    -o-transition-delay: 0s, 0.3s;
    transition-delay: 0s, 0.3s;
    background-color: #ffffff;
  }

  .header__switch--open span::before {
    top: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .header__switch--open span::after {
    bottom: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

/*
 * ========================
 * HERO
 * ========================
 */
.hero {
  position: relative;
  height: calc(100vh - 70px);
  margin-top: 70px;
  background: url("../img/hero-bg.png") no-repeat center/cover;
}

.hero .grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.hero__info {
  max-width: 540px;
  margin-left: auto;
}

.hero__title {
  margin-bottom: 30px;
  font: 400 45px/61px "Circe", sans-serif;
  color: #1a1a1a;
  text-transform: uppercase;
}

.hero__descr {
  margin-bottom: 10px;
  font: 400 18px/26px "Circe", sans-serif;
  color: #4d4d4d;
}

.hero__descr span {
  display: block;
  color: #78afd0;
  text-transform: uppercase;
}

.hero__box {
  position: relative;
}

.hero__sign {
  position: absolute;
  top: -36px;
  right: 0;
}

.hero__scroll {
  position: absolute;
  left: calc(50% - 22px);
  bottom: -30px;
  width: 44px;
  height: 100px;
  background-color: #69afd4;
  -webkit-border-radius: 22px;
  border-radius: 22px;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  -o-transition: transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.hero__scroll:hover {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
}

.hero__scroll::before, .hero__scroll::after {
  position: absolute;
  left: calc(50% - 10px);
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #ffffff transparent transparent transparent;
}

.hero__scroll::before {
  top: 54px;
  opacity: .5;
}

.hero__scroll::after {
  top: 72px;
}

@media (max-width: 992px) {
  .hero {
    padding-top: 160px;
    padding-bottom: 140px;
  }

  .hero__info {
    max-width: 342px;
  }

  .hero__title {
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 37px;
  }

  .hero__descr {
    font-size: 17px;
    line-height: 22px;
  }

  .hero__box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .hero__sign {
    position: static;
    width: 164px;
  }
}

@media (max-width: 768px) {
  .hero {
    padding-top: 120px;
    padding-bottom: 100px;
    background-position: right center;
  }

  .hero__info {
    margin: 0 auto;
  }

  .hero__title {
    font-size: 24px;
    line-height: 32px;
  }

  .hero__descr {
    font-size: 15px;
    line-height: 20px;
  }

  .hero__scroll {
    height: 90px;
  }
}

/*
 * ========================
 * SERVICES
 * ========================
 */
.services {
  padding-top: 100px;
  padding-bottom: 116px;
}

.services .grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.services__list {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.services__card {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  max-width: calc(33% - 28px);
  height: 270px;
  margin-right: 30px;
  margin-top: 25px;
  text-align: center;
  background-color: #e8f0f8;
}

.services__card-title {
  margin-top: 30px;
  font: 700 16px/21px "Circe", sans-serif;
  text-transform: uppercase;
}

.services__form {
  position: relative;
  width: 100%;
  max-width: 270px;
  padding: 90px 35px 65px;
  margin-top: 25px;
  background-color: #69afd4;
}

.services__form-title {
  margin-bottom: 45px;
  font: 700 29px/36px "Circe", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
}

.services__form-btn {
  position: absolute;
  left: 35px;
  bottom: 65px;
  height: 51px;
  width: 207px;
  font-size: 12px;
  font-weight: 700;
  color: #69afd4;
  background-color: #e8f0f8;
}

@media (max-width: 1200px) {
  .services__card {
    max-width: 205px;
    height: 220px;
    margin-right: 15px;
    margin-top: 15px;
  }

  .services__form {
    margin-top: 15px;
  }
}

@media (max-width: 992px) {
  .services {
    padding: 100px 0;
  }

  .services .grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .services__list {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .services__card {
    max-width: 32%;
    margin-right: 0;
  }

  .services__form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 100%;
    margin-top: 40px;
  }

  .services__form-title {
    text-align: center;
    font-size: 24px;
    line-height: 1.3;
  }

  .services__form .input {
    max-width: 450px;
    text-align: center;
  }

  .services__form-btn {
    position: static;
    margin-top: 50px;
  }
}

@media (max-width: 768px) {
  .services__card {
    max-width: 48%;
  }

  .services__form {
    padding: 60px 25px;
  }
}

@media (max-width: 540px) {
  .services {
    padding: 70px 0;
  }

  .services__card {
    max-width: 100%;
  }
}

/*
 * ========================
 * ABOUT
 * ========================
 */
.about {
  position: relative;
  overflow: hidden;
}

.about__slider-pagination {
  position: absolute;
  bottom: 85px !important;
  left: calc(50% + 50px) !important;
  z-index: 1;
}

.about__slider-pagination span {
  width: 7px;
  height: 7px;
  background-color: #eff2f0;
  margin: 0 !important;
}

.about__slider-pagination span:not(:last-child) {
  margin-right: 17px !important;
}

.about__slider-pagination span.swiper-pagination-bullet-active {
  background-color: #78afd0;
}

.about__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.about__banner, .about__info {
  width: 50%;
}

.about__banner img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
}

.about__info {
  padding-top: 130px;
  padding-bottom: 200px;
  padding-left: 50px;
  background-color: #313c4d;
}

.about__info-wrap {
  max-width: 432px;
}

.about__title {
  margin-bottom: 35px;
  font: 700 34px/1.2 "Circe", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
}

.about__title span {
  color: #78afd0;
}

.about__descr {
  line-height: 26px;
  color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 992px) {
  .about__slider-pagination {
    bottom: 40px !important;
    left: 35px !important;
  }

  .about__banner {
    display: none;
  }

  .about__info {
    width: 100%;
    padding: 80px 35px 120px;
  }

  .about__info-wrap {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .about__slider-pagination {
    left: 15px !important;
  }

  .about__info {
    padding: 70px 15px 110px;
  }

  .about__title {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 20px;
  }
}

/*
 * ========================
 * DOCTORS
 * ========================
 */
.doctors {
  padding-top: 116px;
  padding-bottom: 135px;
}

.doctors .grid {
  overflow: hidden;
}

.doctors__slider {
  position: relative;
  margin-top: 65px;
}

.doctors__slider-btn-prev, .doctors__slider-btn-next {
  position: absolute;
  top: calc(50% - 10px);
  z-index: 1;
  width: 0;
  height: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #ffffff transparent transparent;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.doctors__slider-btn-prev:hover, .doctors__slider-btn-next:hover {
  opacity: .8;
  cursor: pointer;
}

.doctors__slider-btn-prev {
  left: 10px;
}

.doctors__slider-btn-next {
  right: 10px;
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

/*
 * ========================
 * CARD-PERSON
 * ========================
 */
.card-person {
  text-align: center;
}

.card-person__banner {
  margin-bottom: 35px;
}

.card-person__name {
  margin-bottom: 20px;
  font: 700 20px/1 "Circe", sans-serif;
  color: #1a1a1a;
}

.card-person__post {
  color: #78afd0;
  margin-bottom: 25px;
}

.card-person__list-item {
  line-height: 26px;
  color: #666666;
}

/*
 * ========================
 * REVIEWS
 * ========================
 */
.reviews {
  position: relative;
  padding: 95px 0;
  background: url("../img/reviews-bg.png") no-repeat center/cover;
}

.reviews .grid {
  overflow: hidden;
}

.reviews__slider-btn-next {
  position: absolute;
  left: calc(50% - 10px);
  bottom: 25px;
  z-index: 1;
  width: 0;
  height: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #ffffff transparent transparent transparent;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.reviews__slider-btn-next:hover {
  cursor: pointer;
  opacity: .8;
}

.reviews__item {
  max-width: 762px;
  margin: 0 auto;
}

.reviews__text {
  margin-bottom: 20px;
  font-style: italic;
  line-height: 21px;
  color: #ffffff;
}

.reviews__info {
  color: #ffffff;
  text-align: right;
}

.reviews__info span {
  display: inline-block;
  margin-right: 10px;
  color: #78afd0;
}

/*
 * ========================
 * CARD-PERSON
 * ========================
 */
.contacts {
  position: relative;
  padding: 76px 0;
  text-align: center;
}

.contacts__card {
  position: relative;
  width: 370px;
  padding: 50px 15px;
  color: #ffffff;
  background-color: rgba(49, 60, 77, 0.8);
  z-index: 1;
}

.contacts__card-info {
  margin-bottom: 45px;
  font-size: 20px;
  font-weight: 300;
}

.contacts__card-box + .contacts__card-box {
  margin-top: 35px;
}

.contacts__card-box img {
  display: block;
  margin: 0 auto 10px;
}

.contacts__card-box a {
  font-size: 20px;
  font-weight: 700;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.contacts__card-box a:hover {
  color: #69afd4;
}

.contacts__card-social {
  margin-top: 20px;
}

.contacts__card-social a {
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.contacts__card-social a:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.contacts__card-social a:not(:last-child) {
  margin-right: 15px;
}

.contacts__map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contacts [class*="ymaps-2"][class*="-ground-pane"] {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

@media (max-width: 768px) {
  .contacts {
    padding-top: 50px;
    padding-bottom: 0;
  }

  .contacts__card {
    width: 100%;
    margin-bottom: 50px;
  }

  .contacts__map {
    position: relative;
    height: 400px;
  }
}

/*
 * ========================
 * FOOTER
 * ========================
 */
.footer {
  background-color: #2a2d39;
}

.footer__top {
  text-align: center;
  padding: 50px 0;
}

.footer__bottom {
  padding: 15px 0;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.1);
  background-color: #1e232d;
}

.footer__bottom .grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: flex-statr;
  -webkit-align-items: flex-statr;
  -ms-flex-align: flex-statr;
  align-items: flex-statr;
}

.footer__links {
  margin-left: 40px;
}

.footer__links a {
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.footer__links a:hover {
  color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 992px) {
  .footer__bottom {
    font-size: 14px;
  }

  .footer .grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer__links {
    margin-top: 10px;
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .footer__top {
    padding: 35px 0;
  }

  .footer__logo {
    display: inline-block;
    width: 100px;
  }
}

@media (max-width: 540px) {
  .footer__bottom {
    font-size: 12px;
  }
}

/*
 * ========================
 * MODAL-THANKS
 * ========================
 */
.modal-thanks {
  display: none;
  max-width: 500px;
  padding: 35px 50px 90px;
  text-align: center;
  background-color: #e8f0f8;
}

.modal-thanks__logo {
  margin-bottom: 35px;
}

.modal-thanks__descr {
  font: 400 29px/36px "Circe", sans-serif;
  color: #69aecf;
}

@media (max-width: 540px) {
  .modal-thanks {
    padding: 35px 20px 50px;
  }

  .modal-thanks__descr {
    font-size: 18px;
    line-height: 25px;
  }
}

/*
 * ========================
 * MODAL
 * ========================
 */
.modal {
  display: none;
  max-width: 500px;
  padding: 35px 50px 90px;
  background-color: #69afd4;
}

.modal__title {
  margin-bottom: 45px;
  font: 700 29px/36px "Circe", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
}

.modal__btn {
  margin-top: 40px;
  font-size: 12px;
  color: #69afd4;
  background-color: #ffffff;
}

.modal__btn:hover {
  opacity: .6;
}
